div{
    background-color: white;
    border-style: solid;
    border-color: black;
    position: absolute;
    width: 200px;
    height: 300px;
    border-width: 2.5px;
    text-align: left;
    margin-top: 50px;
    margin-left: 380px;
    border-radius: 20px;
    font-size: 150%;
    z-index: auto;
}
.d1{
    transform: rotate(-20deg);
    left: 20px;
}
#d1{
    transform: rotate(-10deg);
    left: 40px; 
}
.d2{
    transform: rotate(0deg);
    left: 60px;
}
#d2{
    transform: rotate(10deg);
    left: 80px;
}
.d3{
    transform: rotate(20deg);
    left: 100px;
}